<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>
      Casos de covid 19
      por alcaldia en CDMX
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Casos de covid 19
      por alcaldia en CDMX
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-message *ngFor="let alcaldia of Alcaldias" [alcaldia]="alcaldia"></app-message>
  </ion-list>
</ion-content>